.main-container-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    gap: 20px;
}

#modal-panel {
    width: 800px;
    height: 500px;
}

#device-record {
    grid-column: 4 / 6;
    grid-row: 1;
    padding-top: 40px;
}

#adminOptionsRadioTrue {
    grid-column: 4 / 5;
    grid-row: 3;
}

#adminOptionsRadioFalse {
    grid-column: 6 / 7;
    grid-row: 3;
}